h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(214, 182, 239);
  text-shadow: 1px 1px 1px grey;
  border-bottom: 5px dotted #402948;
}

body {
  background-color:rgb(139, 105, 164) ;
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 600px;
  height: 480px;
}

img{
  position: relative;
  display: block;
  width: 500px;
  height: 480px;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background:rgb(214, 182, 239);
  text-shadow: 1px 1px 1px grey;
  border: 1px solid #402948;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  height: 10%;
  float: left;
  cursor: pointer;
}