body{
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 4, 10);
}

h1:hover{
    color: rgb(84, 22, 40);
    transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: scale(1.5);
}

nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(172, 91, 98);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:antiquewhite;
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: antiquewhite;
    width: 40px;
    height:40px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-name: red-ballmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes red-ballmove {
    from{ margin-top: 0;}
    50%{margin-left: 50%; margin-top: 50%}
    to{margin-top: 100%; margin-left: 100%;}
}